body{
    margin: 0;
    background-color:black;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
}
.container{
    max-width: 700px;
    min-height: 500px;
    background-color: #000000;
    margin: 30px auto;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #fff;
    position: relative;
    box-shadow: 5px 5px 5px 10px #fff, 5px 5px 5px 10px #000;
    
    
}

.container::after,.container::before{
    content: '';
    clear: both;
    display: table;
}
.question-number,
.question,
.options,
.button,
.answers-tracker{

}
h3,span{
    color: #fff;
    margin: 0;
    padding-bottom: 30px;
}
.question{
    font-size: 22px;
    color: white;
    padding: 20px 0;
}
.options div{
    background-color: #cccccc;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
   
    
}
.options div:hover{
    border: 2px solid black;
}
.options div.disabled{
    pointer-events: none;
}
.options div.correct{
    z-index: 1;
    color:#fff
}
.options div.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.options div.wrong{
    z-index: 1;
    color:#fff
}
.options div.wrong::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.button .btn{
    padding: 15px 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color:black;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid #fff;
    display: inline-block;
    margin-top: 30px;
    
}
.answers-tracker{
    border-top: 1px solid #ccc;
    padding-top: 15px;
   
}
.answers-tracker div{
    height: 20px;
    width: 20px;
    background-color: #cccccc;
    display: inline-block;
    border-radius: 20%;
    margin-right: 20px;
}
.answers-tracker div.correct{
    background-color: green;
}
.answers-tracker div.wrong{
    background-color: red;
}

.quiz-over{
    position: absolute;
    left: 120px;
    top: 120px;
    width: 50%;
    height: 50%;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.quiz-over span{
    color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.quiz-over.show{
    display: flex;
    justify-content: center;
}

.quiz-over .box{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.quiz-over .box button{
    padding: 15px 50px;
    border:none;
    background: black;
    color: #fff;
}

.dark-mode{
    float: right;
    background: #cccccc;
    border-radius: 30px;
    padding: 5px 5px;
    width: 100px;
    position: relative;
    cursor: pointer;
    border: none;
    box-shadow: none;
    height: 40px;

}
.light-mode{
    padding-left: 40px;
    font-size:small;
}
.dark-mode.active::before{
    margin-left: 70px;
}

.inside-circle{
    height: 30px;
    background: #f4f4f4;
    border-radius: 50%;
    width: 30px;
    padding-top: 20px;
    position: absolute;
    top: 5px;
    transition: all 0.3s ease-in-out;
}

/* css to handle dark mode */

.dark.container{
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    color: #fff;
}
.dark .question{
    color: black;
    font-size: 16px;
}
.dark .dark-mode .inside-circle{
    transform: translate(60px);
    background: white;
    transition: all 0.3s ease-in-out;
}
.dark .button .btn{
    border: 1px solid black;
}
.dark h3{
    color: #000;
}
.dark span{
    color: #000;
}

/* media quries for responsive */

@media(max-width: 1080px){
    .container{
        margin: 50px 40px;
    }
    .options div{
        width: 
    }
}


 